body {
    background-color: #e7ceb1;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}






@font-face {
    font-family: 'aktiv-grotesk';
    src: url();
}

@font-face {
    font-family: 'blobby';
    src: url('Fonts/CuteFont-Final.woff') format('woff');
}

@font-face {
    font-family: 'blobbish';
    src: url('Fonts/Blobbish-Regular.woff') format('woff'); 
}

@font-face {
    font-family: 'agl';
    src: url('Fonts/fonnts.com-Akzidenz_Grotesk_Light.woff') format('woff');
}

@font-face {
    font-family: 'agil';
    src: url('Fonts/fonnts.com-Akzidenz_Grotesk_Light_Italic.woff') format('woff');
}

@font-face {
    font-family: 'ag';
    src: url('Fonts/fonnts.com-Akzidenz_Grotesk_Roman.woff') format('woff');
}



sup {
    vertical-align: text-top;
    line-height: -2;
}




span.rounded {
    font-family: "arial rounded", arial rounded;
    font-weight: 700;
    font-style: normal;
}

div.cover {
  background-color: #e7ceb1;
  height: 580px;  
  display: flexbox;
  margin-top: 0px;
 
}

div.cover100 {
    height: 100vh;
}

div.scroll {
 overflow: scroll;
 
}

div.cover200vh {
  background-color: #f8d8e0;
  height:200vh;  
 
}

div.bgimage {
    background:#e7ceb1 url(baby\ blur.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 50%;
    height: 500px;
    border-radius: 10%;
}

div.bgimage img {
    width: 50%;
    height: fit-content;
    object-fit: contain;
}


div.margin20 {
    margin-left: 20px;
}



div.blobbish {
    font-size: 110px;
    font-family: 'blobbish', "arial-rounded-mt-pro";
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    color: azure;
    line-height: 90px;
}

div.blobby {
    font-size: 110px;
    font-family: 'blobby';
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    line-height: 90px;
}

div.cutetalk {
    font-size: 25px;
    font-family: 'blobby';
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    padding: 10px;
    line-height: 20px;
    color: azure;
}

div.numbers {
    font-size: 70px;
    font-family: "arial-rounded-mt-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin: auto;
    color: azure;
}

div.title {
    font-size: 90px;
    font-family: 'blobby';
    text-transform: uppercase;
}

div.titlecenter {
    width: auto;
    height: auto;
    font-size: 50px;
    font-family: 'blobby', "arial-rounded-mt-pro";
    text-transform: uppercase;
    text-align: left;
    margin: auto;
    margin-bottom: 30px;
   line-height: 40px;
   color: azure;

   
}

div.blobbishq {
    width: auto;
    height: auto;
    font-size: 50px;
    font-family: 'blobbish';
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
   line-height: 40px;
   color: azure;

   
}

div.circletext {
    font-size: 110px;
    font-family: 'blobby';
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    color: azure;
}

div.smallcircletext {
    font-size: 70px;
    font-family: 'blobby';
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    color: azure;
    line-height: 50px;
}



div.body {
    font-size: 22px;
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: azure;
    hyphens: auto;
    hyphenate-limit-chars: 8 3 4;
    line-height: 22px;
}



div.footnote {
    font-family: 'ag';
    font-size: 15px;
    text-align: left;
    width: 250px;
    margin-top: 30px;
    color: azure;
}


div.swatch {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid azure;
}

div.bg-dun {
    background: #e7ceb1;
}

div.bg-aqua {
    background: #5efdcd;
}

div.bg-flax {
    background: #f9e78a;
}

div.bg-pink {
    background: #f8d8e0;
}

div.bg-lilac {
    background: #d6dcf6;
}

div.bg-azure {
    background: azure;
    border: 2px azure solid;
}

div.dun {
    color: #e7ceb1;
}

div.lilac {
    color: #d6dcf6;
}

div.aqua {
    color:#5efdcd
}

div.flax {
    color: #f9e78a;
}

div.pink {
    color: #f8d8e0;
}



div.white {
    color: azure;
}

div.center {
  border: azure solid 2px;
  width: 175px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.6s ease-out;
}

div.fuzzy {
  border: azure solid 2px;
  width: 175px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.6s ease-out;
}



div.center2 {
  border: azure solid 2px;
  width: 175px;
  height: 19vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
 
}



div.center1 {
  border: azure solid 2px;
  width: 175px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}

div.center3 {
  width: 175px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}



div.centerblur {
  border: #5efdcd solid 2px;
  width: 175px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.6s ease-out;
  
  position: fixed;
}

div.smallcircle {
  border: azure solid 2px;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.6s ease-out;
}

div.smallcircle3 {
  border: azure solid 2px;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.6s ease-out;
}

div.smallcircle2 {
  border: azure solid 2px;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.6s ease-out;
}

div.smallcircle1 {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}

div.smallercircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}

div.tinycircle {
    width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  
}

div.tinyspace {
    height: 5px;
    width: auto;
}

div.mlauto {
    margin-left: auto;
}

div.alignbottom {
    position: absolute;
    bottom: 0px;
}

div.alignleft {
    margin-left: 0px;
}

div.pos-relative {
    position: relative;
}
div.pinkb {
    border: 2px solid #f8d8e0;
}

div.width1 {
    width: 12.5%;
}

div.width2 {
    width: 25%;
}

div.width75 {
    width: 74%;
    
    
}

div.width90 {
    width: 80%;
}

div.width3 {
    width: 37.5%;
}

div.width4 {
    width: 50%;
    display: flex;
    flex-shrink: 4;
    height: auto;
    justify-content: right;
    margin-left: 50%;
}

div.width5 {
    width: 100%;
    height: auto;
    display: flex;
}

div.container {
    display: flex;
    flex-wrap: wrap;
}

div.subheading {
    display: flex;
   
    height: 80px;
}

div.padbottom {
    padding-bottom: 40px;
}

div.pad10 {
    padding-right: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
}

div.fill {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 500px;
    
}

div.fill img {
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 80px;
}

div.grow {
  transition: all 0.5s ease-in-out;
}

div.grow:hover {
  transform: scale(1.5);
}

div.zoom {
    transition: all 1.0s ease-in-out;
}

div.zoom:hover {
    zoom: 150%;
}

div.container2 {
    display: flex;
   flex-shrink: 4;
    height: auto;
    
}



div.container3 {
    position: relative;
    display: flex;

    height: auto;

    
}

div.width62 {

width: 100%;
height: 540px;

}

div.textbox {
    margin-left: 70%;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: auto;
    
}

div.wrap {
    display: flex;
    flex-wrap: wrap;
}

div.textbox1 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    
}



div.space {
    width: auto;
    height: 540px;
}

div.autobt {
    margin-top: 100%;
    margin-bottom: 100%;
  
}

div.quotemargin {
    margin-top: 30px;
    margin-bottom: 30px;
}

div.height300 {
    height: 450px;
}

div.height500 {
    height: 620px;
}

div.space2 {
    width: auto;
    height: 180px;
}

div.space3 {
    width: auto;
    height: 90px;
}

div.flaxb {
    border: #f9e78a solid 2px;
}

div.lilacb {
    border: #d6dcf6 solid 2px;
}



div.aquab {
    border:#5efdcd solid 2px;
}

div.aquab2 {
    border:#5efdcd solid 20px;
}


div.bigcircle {
    border: azure solid 2px;
  width: 100%;
  height: 750px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}

div.container3 {
    display: flex;
    flex-shrink: 4;
    height: auto;
}

div.image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 400px;
    height: 400px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  
}
div.image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

div.column1 {
    
    width: 60%;

  
}

div.column2 {
    width: 40%;

  
}

div.column3 {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    
}

div.insidecolumn {
    width: 100%;
    height: auto;

   
   
}

div.insidecolumn2 {
    width: 100%;
    height: auto;
  
   
}



div.image2 {
    display: flex;
    justify-content: left;
    align-items: left;
    overflow: hidden;
    width: 300px;
    height: auto;
    align-content: left;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 15px;
}

div.image2 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

div.sticky {
    position: sticky;
    top: 0px; 
}

div.top5 {
    top: 5px;
}

div.top189 {
    top:189px
}

div.top373 {
    top: 373px;
}

div.top557 {
    top: 557px;
}

div.top741 {
    top: 741px;
}

div.top30 {
    margin-top: 55px;
}

div.box {
    height: 645px;
    width: auto;
}

div.subtitle {
    
    height: auto;
    font-size: 18px;
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 400;
    hyphens: none;
    color: azure;
    padding-bottom: 15px;
    line-height: 18px;
}

div.quotebox {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: auto;
    
}

div.height {
    height: 250px;
}

div.height2 {
    height: 200px;
}

div.blur {
    filter: blur(30px);
}

div.blur1 {
    filter: blur(3.5px);
}

div.blurh {
    transition: filter 0.5s ease-in-out;
}

div.blurh:hover {
    filter: blur(50px);
}

div.blurh:hover {
    filter: blur(50px);
}


div.unblur {
    transition: filter 0.5s ease-in-out;
}

div.unblur:hover {
    filter: blur(0px);
}

div.blurtxt {
    transition: filter 0.5s ease-in-out;
}

div.blurtxt:hover {
    filter: blur(8px);
}

div.dunb {
    border: #e7ceb1 solid 2px;
}

div.bluranimate {
    animation: blur-in-out 3.5s infinite alternate;

}

   div.center:hover {
    width: 280px;
   }





@keyframes blur-in-out  {

0% {
    filter: blur(1px); 
  }

  50% {
    filter: blur(15px); 
  }
  100% {
    filter: blur(1px); 
  }
}


div.bluranimate2 {
    animation: blur-in-out2 7s infinite;

}





@keyframes blur-in-out2  {

0% {
    filter: blur(3px); 
  }

  50% {
    filter: blur(50px); 
  }
  100% {
    filter: blur(3px); 
  }
}




div.widen {
    animation: widen 7s infinite;
}




   @keyframes widen {

    0% {
        width: 150px;
    }

    50% {
        width: 250px;
    }

    100% {
        width: 150px;
    }

   }


   div.widen2 {
    animation: widen 2.5s infinite;
}


div.widen3 {
    animation: widenn 5s infinite;
}




   @keyframes widenn {

    0% {
        width: 150px;
       
    }

    50% {
        width: 250px;
        
    }

    100% {
        width: 150px;
       
    }

   }



.smallcircle3:nth-child(1) {
    animation-delay: 0s;
}


.smallcircle3:nth-child(2) {
    animation-delay: 0.5s;
}

.smallcircle3:nth-child(3) {
    animation-delay: 1s;
}

.smallcircle3:nth-child() {
    animation-delay: 1.5s;
}


.smallcircle3:nth-child(5) {
    animation-delay: 2s;
}

.smallcircle3:nth-child(6) {
    animation-delay: 2.5s;
}
 


     .center:nth-child(1) {
    animation-delay: 0s;
   }

   .center:nth-child(2) {
    animation-delay: 1s;
   }

    .center:nth-child(3) {
    animation-delay: 2s;
   }

    .center:nth-child(4) {
    animation-delay: 3s;
   }

    .center:nth-child(5) {
    animation-delay: 4s;
   }
    .center:nth-child(6) {
    animation-delay: 5s;
   }

   .center:nth-child(7) {
    animation-delay: 6s;
   }

    .center:nth-child(8) {
    animation-delay: 7s;
   }

    .center:nth-child(9) {
    animation-delay: 8s;
   }

    .center:nth-child(10) {
    animation-delay: 9s;
   }



div.row1 {
    position: sticky;
    top: 100px;
}

div.row2 {
    position: sticky;
    top: 181px;
}

div.row3 {
    position: sticky;
    top: 262px;
}

div.row4 {
    position: sticky;
    top: 343px;
}

div.row5 {
    position: sticky;
    top: 424px;
}

div.row6 {
    position: sticky;
    top: 505px;
}

div.row7 {
    position: sticky;
    top: 586px;
}

div.brow1 {
    position: sticky;
    top: 0px;
}

div.brow2 {
    position: sticky;
    top: 145px;
}

div.brow3 {
    position: sticky;
    top: 290px;
}

div.brow4 {
    position: sticky;
    top: 435px;
    
}

div.fixed {
    position: absolute;
}

div.blurfilter {
    backdrop-filter: blur(10px);
}

div.bigquote {
     margin-left: auto;
    margin-right: auto;
   text-align: left;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: auto;
   
}

span.blobby {
    font-family: 'blobby';
}
span.blob {
    font-family: 'blobbish', arial rounded;
}

span.lilac {
    color: #d6dcf6;
}

span.italic {
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 400;
    font-style: italic; 
    hyphens: none;
    
}




div.lineheight {
    line-height: 12px;
}



div.bottom {
    height: 100%;
}